<% provide(:title, "Log in") %>
<div>testing</div>
<div class="modal-background">
    <div class="modal-container">
        <span class="close">&times;</span>
        <div class="modal-info">
            <div class="header">
                <p>Log in</p>
            </div>
            <%= form_for(:session,url: login_path) do |f| %>
                <%= f.email_field :email, placeholder: "Email address", class: "input" %>
                <%= f.password_field :password, placeholder: "Password", class: "input" %>
                <%= f.submit "Log in", class: "button" %>
                <p><%= link_to "Forgotten account?" %><span></span><%= link_to "Sign up for basicFacebook", signup_path %></p>
            <% end %>
        </div>
    </div>
</div>