<!DOCTYPE html>
<html>
  <head>
    <title><%= addTitle(yield(:title)) %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if yield(:title) != "Sign up" && yield(:title) != "Log in" %>
      <%= render 'layouts/header' %>
      <div class="container-fluid mainBody px-0">
        <% flash.each do |message_type, message| %>
          <div class="py-2">
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          </div>
        <% end %>
          <div class=""><%= yield %></div>
      </div>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
